.custom-navbar {
    background-color: #daa4f5;
}

footer {
    margin-top: 50px;
    padding: 20px 0;
    background-color: #f8f9fa;
    text-align: center;
}

.details-section {
    margin-top: 20px;
}

.concert-info {
    margin-top: 20px;
}